@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*Header*/
.header {
  width: 100%;
  /* height: 100vh; */
  overflow: hidden;
}

.mobile-menu {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.1);
  display: none;
  position: relative;
}

.mobile-menu #bars,
.mobile-menu #times {
  position: absolute;
  right: 20px;
  font-size: 20px;
}

.mobile-menu #times {
  display: none;
}

.mobile-menu-wrapper {
  background: hsl(229, 31%, 21%);
  padding: 25px;
  width: 100%;
  text-align: center;
  box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.mobile-menu-wrapper.show {
  display: block;
  /* transform: translateY(0); */
}

.mobile-menu-wrapper ul li:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.mobile-menu-wrapper ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px 0;
}

.mobile-menu-wrapper ul li:last-child {
  border-bottom: none;
  border: 2px solid rgba(255, 255, 255, 1);
  margin-top: 15px;
  border-radius: 10px;
}

.mobile-menu-wrapper a {
  color: #fff;
  text-transform: uppercase;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.navbar .branding {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .branding img {
  width: 100px;
}

.navbar .menus ul {
  display: flex;
}

.navbar .menus ul li {
  margin-right: 25px;
}

.navbar .menus ul li a {
  color: hsl(229, 8%, 60%);
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s;
}

.navbar .menus ul li a:hover {
  color: hsl(0, 94%, 66%);
}

.navbar #login {
  background: hsl(0, 94%, 66%);
  padding: 4px 20px;
  color: #fff;
  border-radius: 4px;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.1);
  border: 3px solid hsl(0, 94%, 66%);
}

.navbar #login:hover {
  background: #fff;
  color: hsl(0, 94%, 66%);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  padding: 85px 25px;
  flex: 1;
}

.hero-img {
  flex: 1;
  position: relative;
}

.hero-text h1 {
  font-size: 30px;
  font-weight: 500;
  color: #252b46;
  line-height: 1.1;
}

.hero-text p {
  font-size: 13px;
  color: hsl(229, 8%, 60%);
  margin-top: 15px;
  line-height: 1.3;
}

.hero-img .box {
  width: 500px;
  height: 220px;
  background: #5368df;
  position: absolute;
  top: 40%;
  left: 30%;
  z-index: -1;
  border-radius: 100px;
}

.hero-img img {
  width: 450px;
  z-index: 1;
  margin-top: 50px;
}

/*Features*/
.features-nav {
  width: 60%;
  margin: 35px auto;
  padding: 0 40px;
  border-bottom: 0.5px solid rgba(145, 148, 161, 0.2);
  text-align: center;
  display: flex;
  justify-content: flex-start;
}

.features-nav a {
  font-size: 13px;
  color: hsl(229, 8%, 60%);
  line-height: 1.3;
  display: inline-block;
  border-bottom: 2px solid transparent;
  padding: 10px 22px;
  transition: all 0.3s;
}

.features-nav a:hover {
  color: hsl(0, 94%, 66%);
  /* border-bottom: 2px solid hsl(0, 94%, 66%); */
}

.features-wrapper {
  width: 90%;
  margin: auto;
  position: relative;
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 10px;
}

.features-text {
  padding-left: 50px;
}

.features-text h2 {
  font-size: 22px;
  font-weight: 500;
  color: #252b46;
  line-height: 1.1;
}

.features-text p {
  font-size: 13px;
  color: hsl(229, 8%, 60%);
  margin-top: 15px;
  line-height: 1.3;
  margin: 15px 0;
  width: 70%;
}

.features .btn {
  margin-top: 10px;
}

.features-img .box {
  width: 600px;
  height: 220px;
  background: #5368df;
  position: absolute;
  top: 35%;
  left: -50%;
  z-index: -1;
  border-radius: 100px;
}

.features-img,
.features-text {
  position: relative;
  height: 350px;
}

.features-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  object-fit: contain;
  z-index: 1;
  margin-top: 50px;
  transition: all 0.3s;
}

#tab2,
#tab3 {
  opacity: 0;
}

.ftext1,
.ftext2,
.ftext3 {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 50px;
  transition: all 0.3s;
}

.ftext2,
.ftext3 {
  opacity: 0;
}

#simple.active,
#speedy.active,
#easy.active {
  color: hsl(0, 94%, 66%) !important;
  border-bottom: 2px solid hsl(0, 94%, 66%) !important;
}

/*Extension*/
.extension-wrapper {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
}

.extension-wrapper img {
  width: 70px;
}

.extension-wrapper h3 {
  font-size: 14px;
  font-weight: 500;
  color: #252b46;
  line-height: 1.1;
  margin-top: 15px;
}

.extension-wrapper p {
  font-size: 11px;
  color: hsl(229, 8%, 60%);
  margin: 15px 0;
  line-height: 1.3;
}

.features-box {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.chrome {
  margin-top: 0;
  animation: chrome-anim 2s alternate-reverse infinite ease-in-out;
}

@keyframes chrome-anim {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}

.mozilla {
  margin-top: 60px;
  animation: mozilla-anim 2s alternate-reverse infinite 1s ease-in-out;
}

@keyframes mozilla-anim {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}

.opera {
  margin-top: 120px;
  animation: chrome-anim 2s alternate-reverse infinite 2s ease-in-out;
}

@keyframes opera-anim {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}

.cta {
  border-top: 2px dotted rgba(0, 0, 0, 0.1);
}

/*FAQ*/
.faq-wrapper {
  width: 50%;
  margin: 25px auto;
}

.faq-wrapper ul {
  text-align: center;
}

.faq-ul-head {
  display: flex;
  justify-content: space-between;
}

.faq-ul-head i {
  color: #5368df;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}

.faq-wrapper ul li {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  cursor: pointer;
}

.faq-wrapper ul li h3 {
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s;
}

.faq-wrapper ul li p {
  display: none;
}

.faq-wrapper ul li:hover h3 {
  color: hsl(0, 94%, 66%) !important;
}

.faq-wrapper ul li p {
  font-size: 11px;
  color: hsl(229, 8%, 60%);
  margin-top: 15px;
  line-height: 1.3;
  width: 100%;
  text-align: left !important;
  margin: 15px auto;
}

#first-para.display,
#second-para.display,
#third-para.display,
#fourth-para.display {
  display: block;
}

#right,
#down {
  transition: all 0.3s;
}

#right.down {
  transform: rotate(90deg);
  color: hsl(0, 94%, 66%);
}

#down.up {
  transform: rotate(180deg);
  color: hsl(0, 94%, 66%);
}

/*Contact*/
.contact {
  background: #5368df;
}

.contact-wrapper {
  text-align: center;
  width: 40%;
  margin: auto;
}

.top {
  font-size: 11px;
  color: #fff;
  letter-spacing: 3px;
  font-weight: 500;
}

.contact-wrapper h2 {
  line-height: 1.1;
  margin-top: 15px;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
}

form {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 68% 32%;
  margin-bottom: 25px;
}

form input {
  padding: 7px 10px;
  width: 100%;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 12px;
  color: rgba(145, 148, 161, 0.9);
}

form input:focus {
  box-shadow: 0 0 5px 1px hsl(0, 94%, 66%);
}

form input::placeholder {
  font-size: 10px;
  color: rgba(145, 148, 161, 0.5);
}

form button.btn {
  margin-top: 0;
  cursor: pointer;
  color: #fff !important;
  border-radius: 4px;
  margin-left: 10px;
}

form button.btn:hover {
  border: 1.5px solid hsl(0, 94%, 66%) !important;
  background: #fff;
  color: hsl(0, 94%, 66%) !important;
  font-weight: 500;
}

.contact-wrapper p {
  font-size: 9px;
  letter-spacing: 1px;
  color: #fff;
}

/*Footer*/
footer {
  background: #252b46;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left img {
  width: 100px;
}

.footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-top: -5px;
}

.left .footer-menu a {
  font-size: 10px;
  color: #fff;
  padding: 0;
  text-transform: uppercase;
  padding-right: 20px;
  transition: all 0.3s;
}

.right a {
  color: #fff;
  padding-right: 20px;
  transition: all 0.3s;
}

.right i {
  font-size: 12px;
}

.footer-menu a:hover,
.right a:hover {
  color: hsl(0, 94%, 66%);
}

/*Utilities*/
.containers {
  width: 85%;
  max-width: 1440px;
  margin: auto;
}

section {
  padding: 70px 0;
}

.section-heading {
  text-align: center;
  width: 85%;
  margin: auto;
}

.section-heading .subheading {
  font-size: 24px;
  font-weight: 500;
  color: #252b46;
  line-height: 1.1;
}

.section-heading .para {
  font-size: 13px;
  color: hsl(229, 8%, 60%);
  margin-top: 15px;
  line-height: 1.3;
  width: 50%;
  margin: 15px auto;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 5px 15px;
  font-size: 10px;
  font-weight: 500;
  background: transparent;
  border: 1.5px solid transparent;
  border-radius: 4px;
  margin-right: 10px;
  outline: none;
  transition: all 0.3s;
}

.btn-primary {
  background: #5368df;
  color: #fff;
}

.btn-primary:hover {
  border: 1.5px solid #5368df;
  background: transparent;
  color: #5368df;
}

.btn-secondary {
  color: #333;
  background: #fff;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.1);
}

.btn-secondary:hover {
  border: 1.5px solid #333;
}

.btn-danger {
  color: #333;
  background: hsl(0, 94%, 66%);
}

.btn-danger:hover {
  border: 1.5px solid hsl(0, 94%, 66%);
}

/*Media Queries*/
@media screen and (max-width: 2600px) {
  .navbar .branding img {
    width: 150px;
  }

  .navbar .menus ul li a {
    font-size: 14px;
  }

  .hero-img .box {
    width: 700px;
  }

  .features-img .box {
    width: 800px;
  }

  .features-nav {
    width: 100%;
    justify-content: center;
  }

  .features-nav a {
    margin-right: 50px;
  }

  .extension-wrapper {
    justify-content: center;
  }

  .features-box {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 1100px) {
  .features-nav a {
    margin-left: 10px;
  }

  .features-img .box {
    width: 600px;
  }
}

@media screen and (max-width: 768px) {
  .containers {
    width: 95%;
  }

  .hero {
    display: grid;
    grid-template-columns: 60% 40%;
  }

  .hero-img img {
    transform: translateX(10px);
  }

  .hero-img .box {
    left: 25%;
  }

  .section-heading .para {
    width: 60%;
  }

  .features-wrapper {
    grid-template-columns: 40% 60%;
  }

  .features-nav {
    width: 80%;
  }

  .features-nav a {
    margin-left: 0;
  }

  .features-img .box {
    left: -170%;
  }

  .features-img img {
    width: 400px;
    transform: translateX(-40%);
  }

  .extension-wrapper {
    width: 70%;
    justify-content: space-between;
  }

  .features-nav {
    width: 100%;
  }

  .features-box {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 425px) {
  .navbar {
    display: none;
  }

  .mobile-menu {
    display: flex;
  }

  .hero {
    grid-template-columns: repeat(1, 1fr);
  }

  .hero-text {
    order: 2;
    text-align: center;
  }

  .hero-text p {
    font-size: 16px;
    margin-top: 20px;
  }

  .hero-img img {
    width: 100%;
    transform: translateX(0);
  }

  .btn {
    font-size: 14px;
    margin-top: 35px;
    margin-right: 15px;
  }

  .features {
    padding: 0;
  }

  .section-heading .para {
    width: 100%;
    line-height: 1.9;
    font-size: 16px;
  }

  .features-nav {
    display: flex;
    flex-direction: column;
  }

  .features-nav a {
    margin: 0;
    font-size: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 0;
  }

  .features-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .features-img .box {
    left: -100%;
  }

  .features-img img {
    width: 100%;
    transform: translateX(0);
  }

  .features-text {
    text-align: center;
  }

  .features-text p {
    width: 100%;
    font-size: 16px;
    line-height: 1.9;
  }

  .extension {
    padding: 0;
  }

  .extension-wrapper {
    width: 100%;
    display: block;
    margin-top: 50px;
  }

  .features-box {
    padding: 30px 0;
    margin: 20px;
  }

  .extension-wrapper img {
    width: 90px;
  }

  .extension-wrapper h3 {
    margin-top: 35px;
    font-size: 18px;
  }

  .extension-wrapper p {
    font-size: 16px;
  }

  .extension-wrapper .btn {
    margin: 35px 0;
  }

  .faq-wrapper {
    width: 90%;
  }

  .faq-wrapper ul li h3 {
    font-size: 16px;
  }

  .faq-wrapper ul li p {
    font-size: 14px;
  }

  #right {
    display: none;
  }

  .contact-wrapper {
    width: 90%;
  }

  .contact-wrapper p {
    font-size: 14px;
  }

  .contact-wrapper form {
    grid-template-columns: repeat(1, 1fr);
  }

  .contact-wrapper form input {
    padding: 15px;
    margin: 15px 0;
    font-size: 16px;
  }

  .contact-wrapper form input::placeholder {
    font-size: 16px;
  }

  form button.btn {
    margin: 0;
    padding: 15px;
  }

  .footer-wrapper {
    display: block;
    text-align: center;
  }

  .left {
    margin-bottom: 10px;
  }
}
